.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#login-form, #register-form {
    box-sizing: content-box;
    padding: 50px 100px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 3px;
}

#login-form input, #register-form input, #register-form select {
    padding: 6px 0;
    padding-right: 98px;
    padding-left: 4px;
    margin-bottom: 15px;
}

#register-form select {
    margin-bottom: 40px;
}